body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif !important;
}

.about-us-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#about-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left:15%;
    padding-right: 15%;
    padding-bottom: 50px;
    font-size: 20px;
}
.catalog > picture {
    height: 20%;
    width: 20%;
}

.text-center {
    margin-top: 2%;
}

.catalog-container {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.faq {
    font-family: 'Monserat', sans-serif;
    letter-spacing: 3px;
    font-weight: 100;
    border-radius: 15px;
    background-color: #ffffff;
    cursor: pointer;
    padding: 14px;
    width: 60%;
    border: none;
    text-align: center;
    font-size: 1.5em;
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    margin-top: 2%;
}

.active,
.faq:hover {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
        0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    color: #ffffff;

    background: -webkit-linear-gradient(
        360deg,
        #8e7a3f 10%,
        #b09a51 360%
    ); /* Chrome 10+, Saf5.1+ */
    background: -o-linear-gradient(
        360deg,
        #8e7a3f 10%,
        #b09a51 360%
    ); /* Opera 11.10+ */
    background: linear-gradient(360deg, #8e7a3f 10%, #b09a51 360%); /* W3C */
}

.panel {
    display: none;
    background-color: white;
    overflow: hidden;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 1.2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
    border-width: 1px;
    color: grey;
    height: 1px;
    width: 60%;
}

@media only screen and (max-width: 990px) {
    .panel {
        margin-top: 5%;
        margin-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
}
