* {
    margin: 0px;
    padding: 0px;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif !important;
}

.review-container {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.li {
    word-wrap: break-word;
}
