footer {
    clear: both;
    position: relative;
    z-index: 1;
    height: -3em;
    margin-top: 40em;
}

.footer-title {
    font-size: 20px;
}
.footer-info-menu {
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 1%;
}

.footer p {
    font-size: 15px;
    margin: 0 !important;
}

#ig,
#yelp {
    margin-top:20px;
    width: 50px;
    height: 50px;
}
#ig{
    margin-left: 50px;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
