.galler-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.igimages {
    list-style-type: none;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery-image-tile {
    border-radius: 3px;
    width: 20rem;
    height: 20rem;
    margin: 30px;
}

.click-here {
    padding-top: 5%;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ig-header {
    margin-top: 2%;
    margin-bottom: 5%;
}

.ig-error {
    margin: 30px;
}
