* {
    margin: 0px;
    padding: 0px;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif !important;
}

h1,
form {
    margin-left: 10%;
    margin-right: 10%;
}

.form-control {
    margin-bottom: 20px;
}

#style-select,
#style {
    width: 30%;
}
.request-quote {
    margin-top: 2%;
    margin-bottom: 5%;
}
