body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif !important;
}

#preface {
    font-size: 15px;
    padding-top: 1%;
    padding-left: 10%;
    margin-top: -5px;
    margin-bottom: -10px;
}

.logo-container,
.catalog {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.catalog > picture > img {
    height: auto;
    width: 300px;
    margin: 10px;
    border-radius: 2%;
}

.text-center {
    margin-top: 2%;
    margin-bottom: 5%;
}

.catalog-container {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@media only screen and (max-width: 990px) {
    .nav-item {
        padding: 0.5em;
    }
    a.nav-logo {
        display: none;
    }
    .nav-home {
        display: contents;
    }
}
