{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="home">
    <div class="row">
      <div class="col-sm-12 home__block1">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "PRINTWORKS APPAREL" context "Homepage title" %}</h1>
                <h2>{% trans "Custom Printing" context "Homepage title" %}</h2>
                  <a class="btn btn-secondary home__button" href="#">
                    {% trans "Request a Quote" context "Homepage action" %}
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 home__block2">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "About Us" context "Homepage title" %}</h1>
                <a class="btn btn-secondary home__button" href="#">{% trans "Learn More" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 home__block3">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Best Sellers" context "Homepage title" %}</h1>
                <a class="btn btn-secondary home__button" href="#">{% trans "See Now" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<form>
  <div class="form-group">
    <p><font color="black">Email:</font></p>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <p><font color="black">Phone:</font></p>
    <input type="tel" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
    <p><font color="black">Quantity:</font></p>
    <input type="number" class="form-control" id="quantity" placeholder="Quantity">
    <p><font color="black">Need By:</font></p>
    <input type="date" class="form-control" id="needBy" placeholder="Need By">
    <p><font color="black">How did you hear about us?</font></p>
    <input type="text" class="form-control" id="howHear" placeholder="How did you hear about us?" maxlength="200" /> 
    <p><font color="black">Select a style:</font></p>     
    <select name="style" size="1" onchange='CheckStyle(this.value);'>
       <option>Style</option>
       <option value="tShirt">T-Shirt</option>
       <option value="longSleeve">Longsleeve T-Shirt</option>
       <option value="tankTop">Tank Top</option>
       <option value="hoodie">Hoodie</option>
       <option value="sportT">Sport T-Shirt</option>
       <option value="cap">Cap</option>
       <option value="other">Other</option>
     </select>
    <input type="text" placeholder="Enter a style" name="style" id="style" style='display:none;'/>
  </div>
  <div> 
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</div>
    {% if products %}
      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "product/_items.html" %}
        </div>
      </div>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/dist/pa-embed-player.min.js" async></script>
<div class="pa-embed-player" style="width:100%; height:480px; display:none;"
  data-link="https://photos.google.com/share/AF1QipMIb-LLHbFN-_Vd2H9ihgIC9bABy6b23akg1NRyjhqYBXubBTHGJbthyxrG-i7e3g?key=ZWFNTlh4aVFWMzhCZk56RkxjN0x5VHlGRW5CTm93"
  data-title="PRINTWORKS"
  data-description="98 new photos added to shared album"
  data-slideshow-delay="2">
  <img data-src="https://lh3.googleusercontent.com/q_zWDGgDKfJxgc0YRAvcQHWXB89lSOLCgcUojBL_zbJ18ZiTahd0sF7j76amuW4_eZbSwYy82UruE22T3KqkwcWZwYenML8jn4ot3vUCcC2ET70Ki_4-ZFVpvig2UoY23-iodxoeTw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/dD4MgkzUYoRfzLxd0iqJ7C7Gt0a9IDtD4rpL_WbP2JVIz9wmxA55DLuI_KFtgokhGvk8PJsBkSAIVjWOmazzFFEUWPfhc_VzSLrBxsPkbUJ-msUKJlqeMohdJ0WLNtcpYdjzZughYQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/2LY1IxpEU9CqSc_cJXWOq9Ii5hatohV1PSq8VN6ZuiuQqYnrFMupDoNXmCx86fMr5L0KfInHR-iJq67Fob_5D3RCVfQMiByvEkhmDUcGAsJN7j-LgE5CT697Whyo4FBMK0u7Jwt8Ow=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/8Q5eTxWlhhv3p0ocRsWyNQkRCpjKcAdRblnOwjB5YDiELfO55I0zd60jR9DD2vEIJgQjAl4aYeD7OZLFuc_MKgyXuDL8hekr_xk9Lmry4H0rADFGHXI6BjkoZ7t40qUEZXWZEjYaAQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/6Z5W4FHEuoxMDa97gRiaFysaZoj272NwLRtQnTDw4OxWVTDjTtqvmX_1eaK5X7u8b0QhtiR7cKKiOzgFYEhAUMjm-M4ONWVva5rYSfUbprO7wV6y87ENa4q_FhXS3W077DQQI-T-_w=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/_km-0qNTZUrwTgzK2jGFOthVXQ0Rln4dggFfl2McCzQsSDDaNvis4ke_bI19Dgh_kaSb1nhAa4Y5x3aTsemFS4geMRktZt8dwSAsGiw_qNtZ05D6HGS-YSxnMkhYM5bCB8-wO5ya8w=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/OZYynjXkFcUJrd_2InUsP4voBVSIuqurpvx0fe7J_z6rQqO7lN9FuJzx7Bh4kS69KARCYpBg-R1KmvVKgsQQN6P9Nxp0xqUfupERX6qIsnxmXDe3BSRBndRRDfivlG4qQi2X0FpXYw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/PWnLWvaS7Swcp7QJIx2Qr62cR1iuCoq21OBqjJ0JPjv1-moTwg8gvwHFe2asc5WKtMpTTrrpFkVkHmx2hm90eBfbywOIQSPiG8FEQldm47t2qS_B23_KC23BM8E8urYeh76dQt6--g=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/NN2Ckdx21XQoqJOWoHaKjOpkMjL_vChN8Jwmn0jUjzMFt20H5ajSDWyKf0SAVbQwEsp9JAjaY2B2ZI_Sw77iR0aBue2C47lXQQIT2SPm2EdMIs1slRcEh11EOAyKxURB8sXPDY94CA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/OVJEdeyifOyiuiO-HtVb40EYHnSGkUtygiMs_8mMA-2-dy7NQtS8pUY_285eklVMPlBMA8b_Vwi3idBBsKOsViBvjIlghe7B_ADc_23M7imU13Hrbey9mc39Ic1l4w9U61tHpfxMaA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/mC_DTkY6mUI5BA-kEM7nOht70qgPe5JTV5KblRurrMTuFPyo5jqEZgKE77HtG-Xxz6eklPtx3cMNQ5BztESq4hBQXcLe5BWnlsMg4uU5sg75UVTsLY11p_WCZ1asxuGgrDIceO__gQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/FprgOI4Q2d0gqDVZRuPrxa9GLK9gzWZC3TJ-MUlUpHFLvoo6AGmOCCgQJt_TM8klzoUgH53mV0NdpCQMuEHbxO9DYv1_kkG2tQ00r4MgGKv4i0Pmr8Nz5PMD9vMcIv6cxPZwoMiy8Q=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/ogRoyOmteXccX6s99rlVbisamkMa1g7ibzOmZWf-rVc7BeNkYY2p6Sv-CFEIBs1FoImWDC9y6GCggql3RWDARc-RiFo6l3oOFZMF1x4OsYJjJMyBsZWdJth2xm410EjWJWSMBfDujg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/9VE6-r8APsGUvKA9qIQCLRjEPfHTvSh8ErQ-owXchUm2IAA1C7aQuiAEP6xnWhiVSlkfjPygKWY7qDmilLToe4ZVV_2bN04_bUXRtrhK4qseuhUbMpxgjMsddLk3nmpC8CAiysibAQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/5z5TBobObXVARpfI1b0pRbmXcAqB64uDfh8qyJbTmAk7MsSDflQAx9B3m9BXPGLSBH0YPI3Ei4c7Lx7Z5-cdLZ6NddlJP75Tc9p6UrRXo3oveSWXM48K3jl9_Na4RHv9zgiIBovAZw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/M231CN9m7k7z1v-2u-vKEgnx93Yt0uAya0IJZIClWH8zae3jZu8ZF6UYui9vIAHeJqFoQaahMyWakFXexfwp4GXGo8PhiybHxPkfbB8-usOrdzNFplfj-okUENOL2eX6F3aCqYMS_g=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/UvVZonZBlY4V3JJ4JieH9PJQqTGfbHNdZZLurKdxpo4wTj2bNZfyM5riMkxBCA0ZRdMHn6Yx0REimsFUiJb_0gAFG5gQSILGvltG-20EtpLEtfumgNei8Oi7I4M8ijO0EcFKZaj7AA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/TIYfbqqwr2exgrmXbsgNxXneYQn06B0b9D-HE2yYrMFy4SLK53jZfE_Sczcbr28tuvA4z3YIuaD1dzoJDUExLV76M0XykoL_EWSu9WkKuxS2aBJ_k-1iwutFz2P9x7VODobGkAgH7Q=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/bn9gI_q996hOzhb1C5vX3XtFKGB8KohVxDMGRgtS9JGI_8QXhXnY7D7cK9ArWD9xBFJ7ea0TA9PhJLyVA-5CEHu5GtNsO6Z8O8gNtGrdF3IRf8G5tnApyToRp-emEUY9ctrDqIPyIQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/s7D6P7umD0h2-d8E6rzlrPVKmSBED9oveaSmy2t2eSJ_JhTzYt1hKL48MYKLYb0wbgmo551Va4fo51m1fMECnbOftyqpnL-fDlbmI-iCDTZ9osb0Q5wEjvsKq0XyCQZObSVhZ-ApPQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/3qXRFJTG26iOV_eiirQMn1W3PaVNthgocF0NhMafK3RFcaxOYugkywLd-9tSxAGzSL9E482Sud_DC4cJIp2TGXQ14dDboRZrlaHxdRho0d6qNLuejE4g-UUuvt2Y9EogIwkbTyESAg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/v-p7D8dMh96VUmXh27xaGY2YNNzYnIF8dtwxs5xu2jNYyKdabjAx7-f_cQebChb_k0sESC5HmjZ7SOv-kjUrTvVznmX4aZJG73lPgiwYQCviFt1Ps9SNNXS5aablCDBVJoa5dxrjfg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/AKlSvrSQmcvfMaWSLqJadZ_gSidXItVPNDnKyDgdR_ytl5su2zqIT-yZ8XrdwF_yBKeb7KZhCxtFA4bNudE_ItPd1r19Co_nS3tPFXqoechEQydSf73JtXc8F0mWQPhOGzhREgIotw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/i5a1zSTL7GbRl37hmvm5tGzVrsrDDi4_Y8o3zpW9Q363_PmM4lZNfPYmb0toj8QEQgKtG_BWLaYakUrsi8ssfIiu7b6fCbPSbLuOo7M1xpCb5AjChXUyZ4uT7i0cUv-0iJ5JgQLWWA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/ws5nb8733RiQHGSz_29XGTtjkNrPE4ZQxOIMEc18vkxNQ_iIito2xt5AqQHnPjT2_mZf0CHYMEbq_EreCvFX7WYzeIG_ybaTQCY61QQjimEU7QGgEdHKabtFVE07AiOZeS5yMhw6dg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/gENGyHDL_ETmiZygtviALUG718FzI0QIm70dvpM5uuDF1TiZUIx3qckbsiJ0DprojPPipRbOfhXDr_NlZkGQSXc5MnU-pGEFEbUgfFjzHAd55ViYUCacyPo7hnqO4w2FNZuZ--APeA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/F5Lng7-zugB1MTUvsALUCCono5ZTLJdBKyXz404p10EPjERx8Au-KU_eAjJpTIzsjlZpytcVYVS1lLf6b_wVOzIR3SgyrlAbnsf9DS866yIBk2_AXF8wdHOLrDVonfYTB3uOrFbvZg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/AZ6Vi1NGlAk3qt9YguXM1nfl5mbjhq2NKGhtjiSDBuoFajO2u3WSEYfct7WLc1SIj7thMk2iNMpqRqtYdJy71CXr7vfa17hrCLIH0OAVlK732LupLDIbRqe_cNp2rvsb1kfxu6ZFNw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/NgJlfAIUJVd8AAYHtQyqxrBb-FA9RRT-665vNi8CtbAzie4s7zBBjbVYftxeiSQnQ5_IdTJX1VbGSdT_2t453CTju1eRftkztPeN3-7jdXKesru4tZ2Sh26qr5Dj1bal9F6O6wpW2A=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/urUrJkZJVlHBxXJf7TyydSjHK2UDm8mOU_1KIyXVXfsIEp8a1fq9L8QJOYcHBUunqSGRNkquNAsTPjhj199XtQVDseEaCUhownlItrZbRaI10itemQBQlWvOiO8hJ-IEPD2EUpY6zQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/PrjseYUDFRMymHXKTRqGHPM6y_qJGpiTmOzjUyMR7orFWWevxru7VmsAksmb82WBQoLpGVZkEh_8Gy69g61r_eBe8ixvMdft-yqEmr7StNT0drSuAE2DUUOw010aIK2M5s8G7obsDA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/Rm7KHoxDfxqKrTovMJq3ay_xZw3n0TTUgBFuXV00twm87wSRsAB6ECuPJx2G5UciusL9fuIni77cmRxv2PPD8GfIq_LRHXiifeMl4tLIq5o8FCIuT42JDHPx9RjlFNBiVXO9WBwYug=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/b7D42c6Ig4K7zMz_6wUhT2dfFqDKhCgOYt3QoG1ZxsZZBaPD-KwzELipHtArqNCgrgRBd7SxeZdWk49bbJepaWVg3MKsZNHKhz3Zgqf5HK7hZjruxAni6RKPZgWxxrTg3JeIqqsorA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/I7rvCCVs9hoIVsj44Ar6hHoAtbxp2Ff2D8Ave3SSk_EImohXrHqp8KgIIauxpoSU6QYwhQf7nwHb4m_QG1G79G7gyDbqy5HUJkfV-39mftuOdDA0_QGw5nYAA-G2DoHyHMxBkdWHKg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/EUPKagq7hUt2gl9AQhZPqJeMo7TtnOXEijBeoWkbF4ahEcEC4khfcTf5EQ2oQ-gn0ckCsys4vaWAovbafGuWZYuRsd1BWnRPWZOOFvrpnPXVrAeXKs1pMYsxa_f_B0bLZzrtw3RxKw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/5QR2grGk4-T3iHa1IdlV4IYkSD_UiCRsqEBrV6BNZct2dZticEH9pAtGjI1zPtQ71TtHQOuxtx-PAfbhX64LGW7h4AheX4X36D2EwAt4wj6fGyITk1KJ-g8F7v1F10VS_nkllTty4Q=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/N5SRtBUVdnO1n8tDtdfINQmVgIFv0fOOhwT4WP6BSLPkHyoVd3I03SIpetHwamSZ48rPbFPLcDiqFfBEfWk-f13l_-hxYh8r_73Muth4oMpJdAqMw0v3janEw2392sW7rw4kuq1S7g=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/jggo5PYe6lt10hPyXFRlYscKpVLAWhVqFr3pU7dPxJKIDE6Jdm_F30J5ni6_gKYfJ6GGKyAvPaW01xLu1qjSPQyAdglyz5R7M0BMELx0PKR80KU8qw6t5nvhyo4SDIiK4ct-DS1FSw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/Imrt9-2NSzIG0ZTwCZzl11nbJXdGXa-daZz5GqZYqTIVTNSuueQiiCrhWh4m8eZlHsR7Xv0CXwfYM2zWaFwiyty2vxrX70wTGxqUCTpdYsgn36Oywh-e1-Eq1UMZFLwx3YN0rBxXTg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/eXRbGrR10tFo4QMrCh4CzJDidfoduMrjki2yNYm0lzOagTfxDiO-lxcv-EvZiEjK6VTsfrvNr_q3roCoW9t6F1PJdK3iccqlSYyBCK7SBWYxcODbtG9iseWsTNrh5d3r-inv2F2mGw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/ERtTtdGdy7WkGL2TgkNExXunzoLeIdlkZEQ8QF-n2odW4egnWQunPkIwInnetJ2uPKSb_TiIadqHHHZzP0qClfuyliBGFStUO0KeIlpwWwCrBIWqmiX9CsYWJyAUhJW8D7rxbEHfuQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/otPQk4OTy5OhXCBrpTUdwzhZE0QEg4vW-uuJ3OT76MJXtnK7TPDy4FNU-wmvywKZpPdTtpJ4nzGoCnHsJsqhorUOl9OgSM114vvBzc-KbxUI2F5Lwvd7XguYRxxLkTQHWrpgfNCa9g=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/fRUsmMxMQLoxl9iqsiImuDtjMR_tvrLG-JWWqmUlB2eGpmohoYPlvi2v6lOta2tMiH_WcV7VuP2fYa1TgIviTcuw8CjnNNhwH0MZoUlAqYmc0QWq7jSVx441OHvjuLbdy7JGZlchAw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/RDbr5CQLxmWy8SH-1J9GRYfo5CjGz-ATGXd1n6K_0mHlqIIsjqhLZuuipS9bN7hvzwzHPojfVupEZBP3VvHvkEZPXbgjhCjLLCx4eEpqTAm9NraSC8R-zoqrSIK2nx766WKNFhVodw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/e6LnBIrwRZ5J3n56BzY9P15fZU11IacVKidLq2WCWnP243O9EwRwwQlGEaAlpTkSAjeSzvfVBw_vWRkrQpWtW0msO0Qb4stkTMC-AuUbt-RdqiC-wxv3lf-KyCdEI8kcpPjWYeR9_g=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/A4lJSZb2-CBsGVyPH6t6OrA6XHbyBFt3ZgwXJVyY1q1n7Y7P_0vSSK_8lTjJY9Kr7a3Ud3TGriFAudrd4gxJ0ngHVfDLRMthegw2zD6oncS91LKEJfxGQOomBdJguEdBsIOL_bVWaw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/qe91cCBDD_9x6FG7NDHoczfNnRAFbr2yuEk-MIYmyf-kIYzjBFPNVDXH3f3mxkvJVxDlCMf9TAGVemOV9wpi_4hhYIrF-HMNrpHV9Z4GEgf1Vn7s2c8DMoqotpvkIRap_O15Wy84mA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/RAPrSWOjoef8Bd4WCI5kBLdgC87VR5ZBrx2HgDSPxz3PhbhjjFtKtEb7ltR-CKaypM_DFLVIHt9bE1QkNwOFitZ9vnEIwZbiErk-nvjstxdQNU4xS6Xuy7M0AwNxOIUwWKDKZjX9WA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/kF6e57YwNrUP9KCOBxPtFgmK0c2NSHlANVMzkex7lSY7Hzdc_VuMAI_S1DmkeZ0_nQ9zQL8yA8-xhq9hgWshh2kaV9K1t7xqbf3kk105923_isbfRrnfqpr65r4fbhf5KscvIavGGA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/Syhq2iPALMnm-TpMqRDSAAL59ekI4v3EfiXUDxeIBesG_fAz1Y968VLcOQlzcEda5PuO6EFSWQvIXaO-CPoCI2dO46WJTLanb__LhZnPv7LlHP7u00_R1P2uYz50bnwvxdronxocsg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/xgmECf8x9C-bN9fdohHrH1qw3qC-LIZuwOUi2EqhZXmOOofb_KTjBj2_CxDIKmjgpW4dhOZRXUiGFalsmz8nGqIHXs9WKFPDXGeYBFH23GdICs1lINLoPzDgAmcRJCFyHIjG8M0Ecg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/ldqPPG17DvvhYIioYlilNkgcQoM27NIrIcVQUNub-j8Vg_NmwyzzZ3OWEc6DL94FYItrb4O2tT8eZbHfwh_fWLsQLqD6Vb4os3LRCXfEOSEjvZTQcTR40hfQMTITaxkToM4VyYtHWA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/VnSNmX_7pbcI4nc-KPlfZzGqrfWA-8vSJ-iVMnoNO20uAhHi3nBkmFOlfbC-nXBraerQ5Gr-dXpoKLRpymAQtUR_WP92_DQY5bKWqemJ-4TJ_7LxWLTsMkb33E4Lhj7F2vHEn33TEg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/ZHjduvfoja4_-HdtBmCDQlrhK9i8wr6TzNhDCYeDwDm_JCdVPuFB5G_ZgZI74yjIAJIdO8O8EPxnuPj2lareXdU9To-BtDomRPqmLXp3h5axSZQbbHLQSnexO6-zJ3GmYdVTB-EGcA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/3VIBaK1e4rrPdNmpKlFi5K7RfQ65NeNeTTX54aRKMtWSyQ1tMPXFIuZwiuy2LrY7UaI3-S1Dh4rzHT9rvz2UdxKzCA8koTk577W447XM5AOSVkN7-e-iUy18Wv66uNSsWwIrat05gA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/BnZ4mw63ZUq4gwtpVkw1rBxTlkc-ovcKrY-3V5M-zhFG78q21rGlfAXMdNsUkurCgc1eEY2q6HXCGBCh9EYa5GI6REWwhxhuG_CLp28u9H7zy8gAQWiWEVvS59f2QX5CLeF_I-Qb5A=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/n4WJT8icy7ELTfTSJezhe6-P-bafF8uPElSKP-TxdOgFmqx7yTR1m_2WyYnjYSw0mR_szyG4pLFiVIg2iznFBNmvaxtd3N_6WnRJhW3g0NsEjgT1Om2Lu9acaeX6_UxVYngSVSMFEg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/aRCieN1nis_fvNgsMJyhv8t746opqDXmDRupFG4VLFfNjea5eQwClKQHsyMNtk-5bxgkePA3Y4tjXzkR_NgJk2JhnAWuway1lJpSLqWxDSTrGy5EZmJQxyCh7Wyw1WhRa_c7_K8N6w=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/Bl8tkvjitHv-gT4cU1ZpTIDFwGdk5c9YCbl_hZ_hoGwobcWWkJq0T-AjopjRYoiDF8QieKjXLKBQyc8Pi1hYkw7keJvmxEsCnn5KsirRN66ap-UDftxp71j_70xLc_-ZpX4k2Hkspw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/uZb5jwF0WbsAXrWin5H7EVOQgHnhACBdqa6fYaqk7edb02IU8lGJ1oMnVcpOdxBpRGaX3F1OOtuuLFHVbglw2H_H4NzSLyi1aPUyXJQWlXIB0MlE0QrFy13bFlnbbaRL2lVujShW6w=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/XnPK9ZvquOKrrkPnyHqtwRTPsGLnl0aq2dZSfEQC0Yqg2PQDHBxRVaPI02yYvLRcADF3_OVrduu4nogSRYgyh568arKJoxyykxBmARNm3dkDVlW61pXCT_aeR7ipVRPbfgNLi4OcYg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/0r_fUqVjzkgksYXQjjtTrp9NX9fP8ZxVar_xecY10p9RgoQCSJavxTA1eNLAC45mhalAQ68rHlBZNvM-pL0F_pNNVXYidiroJXkJ5lWDZTfUqY6pw7s0NIDao20MH9bIUC9VATl5Gg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/ZdUsRnzlIxI5GIDRk3uPwR6OdgZQgaUsDIvzPJrQ3c9b7VuuiJJXHykKu9HDENUkYKk-Y_SFq5yb1gvHbW-eV_sxN_QG_84ZPwFs7bsYXtASCgbZzglbfr7WsrpXKuFGtHXEa9ue2Q=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/DI-XVY7w4T4jQIO75L1MdrSy6t2KP54XEcZRqrGWS3wjYWadO-xlJIKLH8SdNQBCQKVFh1-Jw7M-ieJ_xN3kW4LmM7nazge23pUWY4I5DavBMMxTmCb7R-geQA4q-D8Ag1OI8TkLxQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/i_rWkM27J-Y9e4q5xP7GznlD-G9xdfCMQefPhBo8v-XX8PoEgWHsfJYeAzV3oWpPF0Bxs-wz5ouit5oZHccNyyob5VMBXfmVqzZjrgMaR4tlaxyzifuv-YpQSHT8lTSJk2_aNDW8Cg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/kRqwSjoZXC9qtr3wF-ij9am_6_mlJo_Q_xgIqAxFZxmoOizI4fKxB-TZFdvVoudVFzAoQs3j_TUOTiXWCuz6yyYMVEo0zLW21rXP47Zo-lUiF7g0SnQ84l3vMuvTCKdeodWkUgq7tQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/XOoxCVBwhuehmw2X-RipEpSTDO5ipNwafeae74xAwX92MG0FEcBfg-dVUIX5Zjn9KIvhnjy4B0GIKYJzDM3Pc-5uzP5DdtJ20rR1ZLeVjx_9_TnBWZutoUG-bOGh0zS6ToVlG6d7aA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/271aNnd6mt6Ed1xOlfrDDwppSyWmV8orDGBWYHhTqs8QIiO6bczP8NQRHHx9SZXxmSfMU2SkjKwt9EoM7s2J673nABBoYIaKY5MvU3eIaj0WC0f0vsuuxtruprwkbWi6lshEuVRk3Q=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/mKxHKDdUJ49JxCT1j_yMyZGhTu4xcP4jptsT1itZl8eARX5Ty1h3ryxYYA182YTj4as2YTIgUxsdlQZgApv9hJd3TjH7Zn-02lWuIBYU0UkYrZc4plzlGG4pZsmBsMe_o8xMEsq5KA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/VDtTKd8YRDpAenjJA3lMXQ35lmuGs12r6BUKw1HQg3ChX0t00z0R9F6LrOmLqes6Bxa-rQ3DV6EzgxcG2ARSDNjqYFIYaXIvqr3gHysUlSlAvpG4rvjryRFc3da-F6o9dSS6D_TY5Q=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/niVHEjUh-kOw1eig3tEohxblcANkv63xRd6_OxCQa4G9vypmkkbwAxJIXL-g676Slst3fAxYtDG7qpA1mu_zumEKt6dzcagxF4-izFWpLeW5doK4DYX1Osal31tQCs7gB_DfbZBJ5g=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/QMcug5QdBudWTn6hh41KYoz6hhg1pZ0MqLN9ML51CbYaDcqUTSH8YyfAFFcq3_Hgo8YQI-cI7XSb2PTKl0WPMmAO2OcgKEUfLQMQhVPZ3R3ztQg8N6NpBTzMgSxqWXZbB6SV4XN2tQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/eO4W-5iX_9_iQ_F0xRwHl8HdvA4svzp9dVRjf1eJ4bNG9_K51IbCDudF0ZUe310132PrQ2cN8r4d1WIon4xU9Is0INalFKqNFvES4jFhMVmp8rg2dN_6MrZqO4OZBvrQ-k6hhpGiwA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/wU7JHPmo8s1fvp8RuDAJfrI7gKSP13GKlLptiLn06Q4Zlpp3P9RJbVU7-IxWgrxmaJjh4qRkMoOyge5b0Q-xYhvtlT6WDPzPi0K-02l1-qkuuaDNCJpr9HWURoKKBR3N7Zk0UW56Kw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/RNNO06XcFOkv8maFWDi4zoxR3la2HiE5c9uNwDZ6K90DSTwHic-4WxV9W4t9WoHm-cWUCB16TPS6d-y99yl3mjFZA7f4rfnRNCHz6UfULce9pIIZEbVUfqI7oO5k_cVlyJdaFG0sbw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/LQS69bs4LbG3JF2Z2UZM79JP47Ko-XmonQcdkIzClTjff_u8Kpyt_-oHQqvoPAIHrgPN5s4a0wrdY4FjfM_MjPHzhDwthZgJirzxr8Ms30Qjmncc-nmlA8qlJ5RQN8cD0TXRAGWQ3w=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/FoXLqWulKFyJezjjmhWjgP3QjykgzhedbnqHtcXKBgZ_SBwTNvpdy9W5HkTpUcbBYgfYCuG32AN6Oe5pwDgok425_8ffYbM-9VvTw5Wj4pQnnB-VY1tUoeDIiknpQZTqF3nWH9WVuA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/ZMXJFL7VVbClULpFSqVOWPupbOOtBaT8ms_2XMlZ1aE6QStmTGbTVVtbEVvW56E5DXoMh8SBPretUevwqgSKf3feNCJg2we4RDhgYgiJ5PYR6VpybHEytdEWIhSvSGPEnLfccJPZvg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/0L7JAkZ0ChEbSSx1iVCADAd5xBTG8VKsvVPqFDo3GXpKjUg2XHD-oPbtNoF0C9H9KO9d0SfF58AeL0CWHWD-HOMoFgdTCHMtPr8V8dWg9flV0nDh1Is3NXGBowJXCy0OPjyTOB0fUw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/9P83I1gPKc6lwKYPlJIsidM5Pr5F3ZE8yX-2n6T7BPCKHzr1_4B47F2WB5PmuA4I-S7udctEWs1hCd74v9PJIBHNFEaYQq8YJfizK52dRzwCPS0FHGKzsd1WruLl4I_aWZU7hUsvrA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/_IvvZJTqLRKoiCcWKYwfY2nuLXu4QRkmcBPBB-bcWtqxviBS8SYJ8tYl4nipsnmrbCZnyJGyVRXz-Kee10Kxq0Ac0dOKRWlKjGwa6PTFiLYdKYX-3ufLnuX2jZlZ-DHlRAXPBhZPkg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/AoRpJMuygu_Awv2CMKRXz7arVv_tlDT01gZPR-wm3rFkqGCtiifE1Ga9OjFL3jIXA-mOiyA5_btclHzrhx5tBWaP_TtZstsThyk73GbNGkpSTddJfBKKUpJG-13XqiAhzp5mGBj0qg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/dclUSrhP2L5QO_JpISas_Suu1XPVwBeOSEtsw8e_JJcSjEwB5Lysz5ZUrCejE3BIe8VBnNu42TM5y8ii-PaJNdsLGBvoG15RwM0bvaGLh2n9Afo5fSVDuojsIL29XZCyilCuDK9wSg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/rLZT35rDSLMhE9LfEFkaematDpMhfoOf2BBtlavmbmBQVNZWyjDUwQNbeN9UIEZvgc6xtl4zUMAo73pj5FBCsRQF5gFM-DkzU7cF4bOVD3jFV3dnuFLl1Vf8ZsLLFdHJMDvzWCq-Zg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/o8U2fO7CYT65MmfBF_-NxARyrsCxuBElsj-AhPNorf2FYTZNNEK9IPnLt1XAvezJJK3EDmefZKn6_L39hyPX4cnpv7Xgj66_3sH7GR05TBVU_FsKr5jiXkefpjBdxLxVKvu22ie1Pw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/zcTQYDqxuW5udP0iO5WUxHwMNIiYO2EOfXbGrWWeRXxbwZjSMnpxzUe9FqMJVdWHuOgGP4hE-gMwiRc6USVNbrMV6Ps7Q9AkknFN7dHOOjhD17ak_eGiA9VHGmlrbzp4wQFGzR5HAg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/NX5D9p9OwStHuwN4dmv5MBcy2Yz8gv6ZW1hKvybQGWjOjos-WEvwXWal9hyx8qRQufVVTxhNnkeMxrm6faxFQWqnNdoHKhmuaPr9B3Ngqust6kztqYIg1ttAehy4aCCIH9lNX-pGtQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/lQfx-rALgxkvnctBMwdBNk8v4kKmpw8rEwXDG1KaIGWBFIegs936TbKVUNdqUpjQDHXfLZK_0WPkakgxM960F_3p3O-KUEfg9Hy_UzCEbBWdjIiDmuGeAvEEghbndoYLvQajJ29gAg=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/al5W2Q2qlxxqdfs1yLamOS4nsNqrab3t80X3eQdLav6KQyrfym9PZMz2PQgdW2Kt7BV12UEWHLBpegh17IFbgBbaZHd2ZT0PflpS9NELLGktYSCQtvmonULy90sZANqiUm5MQdnjPQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/fcQQsuFHhDZSR1PrU0l1_ThcnJCRh1Ps1U2pQfVk3V0_hxk5gm8WUcBtt1YAq90MsRjB-yUVh9zaNs1WHkePK3hj-GUXt69WTjq4dh_xpFtKFL1tufhIckGhu7lksQV8WRkhvI25UA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/07WDahgl8tem83w2dh8vuY8CFiMWZgr48xzWNpJ2J0jmdZuCQXwJIB8RnvqjZUmjgQjPUlESHATwMRNzDDsp3Cg2IKDcyrcguaARFNUk_0_aG76qDWLf2idguRjvNCgHBwNxr32RKQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/P3JowpcrGXOGvep6HCjdQagGGJxz3Q6Rz5u_U2hFfrnlRlTRUbi368TlrgY3PDjod0ILD8hakm5ZHntEN8ZMH6FfSRQnfsCObawGvkDqHxmR30Pj_kap4ChTMfxL5GobxiKuBFDS5g=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/KRQkJ0zMey1yTVSraXcxCEMSgEfnuYnNU6_VtEoztvlyltIypctndlULEIPbE0xdgdiHGrmoIRh4g2c82eezs06DmHsVXFx92IKftBa4bZEBUCVlr2lykFFtEuf3ZrNLsMMrGtOnDA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/ZrXygneZHQAs88UchOPTkCcOwQC3lIc3UNLQuJYi0--XVKrY77QAAe5-rgAqaABH5y7o_FQqCPsZx6LMW55J3zm2lNCa08JNh-N7eUi45h0-Bc84gkxMaYwexxomM80RHE6GCaHTTQ=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/8BPIyG7dVawiObOSZLS-OUp6OOTXkhblNI4-INaIp5gM-69cPjCB5Fk1UtI5Py8XA840rjR_LVeq3dvIAd2mwFZAdwWaWwqfzifAgoEqkmKRy5zd2qBzvfZf83ojq_L0fIamv3Tt4g=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/vSeqHz5SD_wp6zWmYhVrkjB72WrDkTFlHoPhzyEVwjyv-m615sNTs-w-WbpqzW5eFTnyAWFDz7dT-ltHZmD9Ikj6v_U94MTBehddueiI0hRttHgRG0ZtdVNeiSJSjBbBRMmgmNHQNw=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/YmT9CNZRlKXhvyW1GtllV4kr4_GWZ8yOC0nPU2RM8Sr9b5U6mYohAxNz_z_xgwOMj45m-UW0U2zRTRWPpRzEZwCPiTZTbDSLfX7acxFxtlX3dc4tRpBaeXi2ycVuTUs_VpmNGoe1IA=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/sYNFr6usBNRY4gkY_Eob30rILPo3IxazBbL-6a0lf3GbFqXtI9YluD4jusBl5IPGaDSz3_ElmazUlw7D7b8C4RVn3UReiobESrWyYe51RNQebaa0Oki0ep2JP_RW0DRsSRfBhZ7g2Q=w1920-h1080" src="" alt="" />
</div>
<script type="text/javascript">
  function CheckStyle(val){
   var element=document.getElementById('style');
   if(val=='other')
     element.style.display='block';
   else  
     element.style.display='none';
  }
</script> 
    <form>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                placeholder="Enter email">
            <label for="passwordInput">Phone</label>
            <input type="tel" class="form-control" id="passwordInput" placeholder="Phone Number">
            <label for="Quantity">Quantity</label>
            <input type="number" class="form-control" id="Quantity" placeholder="Quantity">
        </div>
        <div class="form-group">
            <label for="style-select">Style</label>
            <select class="form-control" id="style-select">
                <option selected disabled>Select Style</option>
                <option value="tshirt">T-Shirt</option>
                <option value="hoodie">Hoodie</option>
                <option value="long-sleeve">Long-Sleeve</option>
                <option value="jersey">Jersey</option>
                <option value="tank">Tank Top</option>
                <option value="hat">Hat</option>
            </select>
        </div>
        <div class="form-group">
            <label for="style-select">Print Type</label>
            <select class="form-control" id="style-select">
                <option selected disabled>Print Type</option>
                <option value="screen-printing">Screen Printing</option>
                <option value="embroidery">Embroidery</option>
            </select>
        </div>
        <div class="form-group">
            <label for="textArea">Additional Comments</label>
            <textarea class="form-control" id="textArea" placeholder="Additonal Comments" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="style-select">How Did You Hear About Us?</label>
            <select class="form-control" id="style-select">
                <option selected disabled>How Did You Hear About Us?</option>
                <option value="yelp">Yelp</option>
                <option value="Instagram">Instagram</option>
                <option value="friend-family">Friend/Family</option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
{% endblock %}
