{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="home">
    <div class="row">
      <div class="col-sm-12 home__block1">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "PRINTWORKS APPAREL" context "Homepage title" %}</h1>
                <h2>{% trans "Custom Printing" context "Homepage title" %}</h2>
                  <a class="btn btn-secondary home__button" href="#">
                    {% trans "Request a Quote" context "Homepage action" %}
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 home__block2">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "About Us" context "Homepage title" %}</h1>
                <a class="btn btn-secondary home__button" href="#">{% trans "Learn More" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 home__block3">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Best Sellers" context "Homepage title" %}</h1>
                <a class="btn btn-secondary home__button" href="#">{% trans "See Now" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if products %}
      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "product/_items.html" %}
        </div>
      </div>
    {% endif %}
    <form>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                placeholder="Enter email">
            <label for="passwordInput">Phone</label>
            <input type="tel" class="form-control" id="passwordInput" placeholder="Phone Number">
            <label for="Quantity">Quantity</label>
            <input type="number" class="form-control" id="Quantity" placeholder="Quantity">
        </div>
        <div class="form-group">
            <label for="style-select">Style</label>
            <select class="form-control" id="style-select">
                <option selected disabled>Select Style</option>
                <option value="tshirt">T-Shirt</option>
                <option value="hoodie">Hoodie</option>
                <option value="long-sleeve">Long-Sleeve</option>
                <option value="jersey">Jersey</option>
                <option value="tank">Tank Top</option>
                <option value="hat">Hat</option>
            </select>
        </div>
        <div class="form-group">
            <label for="style-select">Print Type</label>
            <select class="form-control" id="style-select">
                <option selected disabled>Print Type</option>
                <option value="screen-printing">Screen Printing</option>
                <option value="embroidery">Embroidery</option>
            </select>
        </div>
        <div class="form-group">
            <label for="textArea">Additional Comments</label>
            <textarea class="form-control" id="textArea" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="style-select">How Did You Hear About Us?</label>
            <select class="form-control" id="style-select">
                <option selected disabled>How Did You Hear About Us?</option>
                <option value="yelp">Yelp</option>
                <option value="Instagram">Instagram</option>
                <option value="friend-family">Friend/Family</option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
